
@{
    ViewBag.Title = "Home Page";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Dev' team Portal</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome Dev' team Portal</h2>
        <p>
            The company employs a dynamic team of
            individuals. These employees all work remotely. The team is divided into different
        </p>
    </div>
   
    <div class="col-md-4">
      

    </div>
</div>